@import url(normalize.css);
@import "reset.css";

*{
    box-sizing: border-box;
}
.container{
    width: 602px;
    margin: 0 auto;
    padding: 40px 15px;
}
.wrapper{
    background:url("https://try.pipeline.banzai.cloud/dex/theme/background.svg") #222222;
    background-size: cover;
    height: 100%;
}
.logo{
    display:  flex;
    justify-content: center;
    padding-bottom: 25px;
}
.title__wrapper{
    padding-top: 20px;
    padding-bottom: 55px;
}
.title__wrapper h2{
    font-size: 56px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    font-family: "DejaVu Sans";
}
.block__btn{
    display: flex;
    flex-direction: row;
}
.block__btn:nth-child(2n-1){
    padding-bottom: 8px;
}
.block__btn:nth-child(3n-2){
    padding-top: 8px;
    padding-bottom: 8px;
}
.block__btn:nth-child(4n-3){
   padding-top: 8px;
}
.btn{
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    width: 283px;
    height: 69px;
    padding: 12px 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    transition: all .1s ease-in;

    pointer-events: none;
    opacity: .4;
}
.pointer__in{
   pointer-events: initial;
    opacity: 1;
}
.btn:nth-child(2n){
    margin-right: 0;
}

.btn:hover{
    transform: scale(1.02);
}
.btn img {
    width: 40px;
    height: auto;
}
.btn p{
    font-size: 24px;
    font-weight: 400;
    color: #535353;
    margin-left: 13px;
}
